h1, h2, h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center; }

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #252525;
  font-size: x-large; }

/*BODY */
body {
  background-image: url(../imagenes/fondo.jpg); }

main {
  grid-area: principal;
  margin-top: 200px;
  text-align: center;
  background-color: #9da6b3;
  border: 3px solid grey;
  padding-bottom: 20px; }

#tamanio {
  width: 70vw; }

aside {
  grid-area: costado;
  text-align: center;
  margin-top: 500px;
  border: 3px solid grey;
  height: 670px;
  width: 225px;
  background-color: #9da6b3; }

body {
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera cabecera cabecera" ". principal . costado . " "pie pie pie pie pie"; }

/*ENCABEZADOS*/
h1 {
  font-size: 32px;
  font-weight: 900;
  padding-top: 30px;
  padding-bottom: 50px; }

h2 {
  font-weight: 500;
  margin: 30px;
  margin-top: 60px; }

h3 {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: large; }

/* Header */
header {
  grid-area: cabecera;
  width: 100vw;
  background-color: rgba(108, 150, 199, 0.836);
  position: fixed;
  z-index: 2; }

.cabecera__imagen {
  height: 100px; }

.divisor {
  width: 25vw; }

.nav-link {
  color: rgba(0, 0, 0, 0.349) !important;
  /* Para sobreescribrir al bootstrap y poder modificar la opacidad y animar la fuente */
  transition: all 0.5s; }

.nav-item:hover .nav-link {
  color: black !important;
  /* Para sobreescribrir al bootstrap y poder modificar la opacidad y animar la fuente */
  transition: all 0.5s; }

.navbar-nav:hover .active {
  color: rgba(0, 0, 0, 0.349) !important;
  /*Animaciones con Nav-link Active*/ }

.active {
  color: black !important;
  /*Reestablecer Color Negro en los Nav-links active's */ }

.nav-item .active:hover {
  color: black !important;
  /*Animaciones con Nav-link Active*/ }

.navbar-toggler {
  color: black; }

footer {
  grid-area: pie;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch; }

.footer__lista {
  background-color: rgba(108, 150, 199, 0.836);
  width: 100%;
  text-align: right;
  list-style: none;
  margin-bottom: 0px; }

.footer__imagen {
  display: inline;
  padding-right: 20px; }
  .footer__imagen__size {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50px; }

.footer__texto {
  position: absolute;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 2%;
  padding-left: 2%; }

.carousel-item {
  pointer-events: none; }

.ult__dibujos {
  display: inline;
  height: 300px;
  width: 200px;
  pointer-events: none; }

.encargo__contacto {
  transition: all .5s;
  color: #5f5f5f; }

.encargo__contacto:hover {
  color: black;
  transition: all .5s; }

.encargo__consulta {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 30px;
  padding-bottom: 40px; }

.imagenes__imagen {
  display: flex;
  height: 600px;
  width: 400px;
  object-fit: cover;
  transition: all 0.4s;
  z-index: 0; }

.imagenes__imagen:hover {
  transform: scale(1.15);
  transition: all 0.4s;
  z-index: 1; }

.imagenes__coleccion {
  margin-top: 30px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  overflow-x: none; }

.coleccion__fuente {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.logos__chicos {
  height: 60px; }

.cartas {
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 70px; }

.card {
  transition: all .5s; }

.card:hover {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.521);
  transition: all .5s; }

.cont__videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  overflow-x: hidden; }

.videos {
  height: 366px;
  width: 650px;
  padding-bottom: 10px;
  padding-right: 10px; }

.logo__youtube {
  padding-top: 40px;
  padding-bottom: 20px;
  height: 130px;
  transition: all .5s; }

.logo__youtube:hover {
  transform: scale(1.25);
  transition: all .5s; }

.sobreMi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  overflow-x: hidden;
  flex-wrap: wrap;
  padding-top: 50px;
  width: 98vw; }

.fotoMia {
  display: flex;
  height: 500px;
  border: 10px solid #ceb87b; }

.textoSobreMi {
  width: 50vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 35px;
  padding-bottom: 70px; }

.contacto__directo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 20px; }

.tabla__div {
  display: flex;
  justify-content: center; }

.table {
  border: 2px solid black;
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.input-group {
  width: 300px; }

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

@media only screen and (max-width: 768px) {
  #tamanio {
    width: 95vw; }
  aside {
    margin-top: 100px; }
  .imagenes__display {
    grid-template-rows: 500px;
    width: 90vw; }
  .imagenes__imagen {
    height: 500px; }
  body {
    display: grid;
    grid-template-areas: "cabecera cabecera cabecera cabecera cabecera" ". principal principal principal ." ". . costado . ." "pie pie pie pie pie"; }
  .videos {
    height: 266px;
    width: 350px;
    padding-bottom: 10px;
    padding-right: 10px; }
  .sobreMi {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .fotoMia {
    width: 300px;
    height: 450px; } }

@media only screen and (min-width: 1600px) {
  #tamanio {
    width: 1120px; } }

* {
  scrollbar-width: auto;
  scrollbar-color: #3c77b9 #ffffff00; }

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 17px; }

*::-webkit-scrollbar-track {
  background: #ffffff00; }

*::-webkit-scrollbar-thumb {
  background-color: #3c77b9;
  border-radius: 33px;
  border: 26px outset #ffffff00; }

.carrito {
  position: absolute;
  top: 15px;
  left: 150px; }
  .carrito img {
    width: 35px; }

.contador {
  padding-left: 1px;
  padding-right: 2px;
  position: absolute;
  font-size: 16px;
  top: 15px;
  left: 190px;
  background-color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px; }

.tiendaMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.articulos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  width: 1000px; }

.objeto div {
  border: 2px solid #a1a1a1;
  background-color: #b2bcca;
  height: 350px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .objeto div img {
    overflow: hidden;
    object-fit: scale-down;
    width: 300px;
    height: 300px;
    border-bottom: 1px #a1a1a1 solid;
    pointer-events: none; }
  .objeto div a {
    background-color: #0084ff;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
    color: white !important;
    padding: 5px; }

@media only screen and (max-width: 1024px) {
  .tiendaMain {
    width: 100%; }
  .articulos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%; } }

@media only screen and (max-width: 768px) {
  .tiendaMain {
    width: 100%; }
    .tiendaMain h1 {
      width: 320px; }
  .articulos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    width: 320px; } }

.compras {
  width: 120%;
  height: 900px; }

.datos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: start; }
  .datos h2 {
    font-size: 25px; }
  .datos input {
    justify-items: right;
    width: 500px;
    height: 40px;
    margin-bottom: 30px; }

.dibujosCantidad {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .dibujosCantidad h3 {
    text-align: left; }

.sumaResta {
  width: 32px !important;
  height: 32px !important; }

input {
  border-radius: 5px;
  border: 1px solid #bdbdbd; }

#btnCompra {
  background-color: #0084ff;
  color: white;
  border: 2px solid #bdbdbd; }

#btnReinicio {
  background-color: #bd3535;
  color: white;
  border: 2px solid #bdbdbd; }

.datosCarrito {
  display: flex;
  flex-direction: column;
  background-color: #8d8d8d;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  margin-left: 100px; }
