
a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: x-large;
}

/*BODY */

body{
    background-image: url(./imagenes/fondo.jpg);
}

main{
    grid-area: principal;
    margin-top: 200px;
    text-align: center;
    background-color: rgb(157, 166, 179);
    border: 3px solid grey;
    padding-bottom: 20px;
}

#tamanio{
    width: 70vw;
}

/* Header */
header{
    grid-area: cabecera;
    width: 100vw;
    background-color:rgba(108, 150, 199, 0.836);
    position:fixed;
    z-index: 2;
}

aside{
    grid-area: costado;
    text-align: center;
    margin-top: 500px;
    border: 3px solid grey;
    height: 670px;
    width: 225px;
    background-color: rgb(157, 166, 179);
}


footer{
    grid-area: pie;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

body{
    display: grid;
    grid-template-areas:
        "cabecera cabecera cabecera cabecera cabecera"
        ". principal . costado . "
        "pie pie pie pie pie"
    ;
}

.cabecera__imagen{
    height: 100px;
}

.divisor{
    width: 25vw;
}

.nav-link{
    color: rgba(0, 0, 0, 0.349) !important; /* Para sobreescribrir al bootstrap y poder modificar la opacidad y animar la fuente */
    transition: all 0.5s;
}

.nav-item:hover .nav-link{
    color: rgb(0, 0, 0) !important; /* Para sobreescribrir al bootstrap y poder modificar la opacidad y animar la fuente */
    transition: all 0.5s;
}

.navbar-nav:hover .active{
    color: rgba(0, 0, 0, 0.349) !important; /*Animaciones con Nav-link Active*/
}



.active{
    color: rgb(0, 0, 0) !important; /*Reestablecer Color Negro en los Nav-links active's */
}

.nav-item .active:hover{
    color: rgb(0, 0, 0) !important; /*Animaciones con Nav-link Active*/
}

.navbar-toggler{
    color: black;
}



/* //////////////////////////////////////////////// */

.imagenes__display{
    display: grid;
    overflow-x: scroll;
    justify-items: center;
    width: 70vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 600px;
}
.imagenes__imagen{
    display: flex;
    height: 600px;
    width: 400px;
    object-fit: cover;
    transition: all 0.4s;
    z-index: 0;
}

.carousel-item{
    pointer-events: none;
}

.imagenes__imagen:hover{
    transform: scale(1.15);
    transition: all 0.4s;
    z-index: 1;
}

.imagenes__display:hover{
    height: 670px;
}


.imagenes__coleccion{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: none;
}

.coleccion__fuente{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logos__chicos{
    height: 60px;
}

.cartas{
    flex-wrap: wrap;
    padding-top:50px;
    padding-bottom: 70px;
}

.card{
    transition: all .5s;
}
.card:hover{
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.521);
    transition: all .5s;
}

.cont__videos{
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
}

.contacto__directo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
}

.videos{
    height: 366px;
    width: 650px;
    padding-bottom: 10px;
    padding-right: 10px;
}


.logo__youtube{
    padding-top: 40px;
    padding-bottom: 20px;
    height:130px;
    transition: all .5s;
}

.logo__youtube:hover{
    transform: scale(1.25);
    transition: all .5s;
}

/* Titulos */

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 50px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    font-weight: 600;
    margin: 30px;
    margin-top: 60px;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: 600;
}

/* Sobre Mi */

.sobreMi{
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    flex-wrap: wrap;
    padding-top: 50px;
    width: 98vw;
}

.fotoMia{
    display: flex;
    height: 500px;
}

.textoSobreMi{
    width: 50vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 35px;
    padding-bottom: 70px;
}

/* /////////////////////////////// */

.tabla__div{
    display: flex;
    justify-content: center;
}

.table{
    border: 2px solid rgb(0, 0, 0);
    width:300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-group{
    width: 300px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encargo__contacto{
    transition: all .5s;
    color: rgb(95, 95, 95);
}

.encargo__contacto:hover{
    color: rgb(0, 0, 0);
    transition: all .5s;
}

.encargo__consulta{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
    padding-bottom: 40px;
}



.ult__dibujos{
    display: inline;
    height: 300px;
    width: 200px;
    pointer-events: none;
}

/* FOOTER*/

.footer__lista{
    background-color:rgba(108, 150, 199, 0.836);
    width: 100%;
    text-align: right;
    list-style: none;
    margin-bottom: 0px;
}

.footer__imagen{
    display: inline;
    padding-right: 20px;
}

.footer__texto{
    position: absolute;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    padding-top: 2%;
    padding-left: 2%;
}

.footer__imagen__size{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50px;
}


@media only screen and (max-width: 768px) {
    #tamanio{
        width: 95vw;
    }
    aside{
        margin-top: 100px;
    }
    .imagenes__display{
        grid-template-rows: 500px;
        width: 90vw;
    }
    .imagenes__imagen{
        height: 500px;
    }
    body{
        display: grid;
        grid-template-areas:
            "cabecera cabecera cabecera cabecera cabecera"
            ". principal principal principal ."
            ". . costado . ."
            "pie pie pie pie pie"
        ;
    }
    .videos{
        height: 266px;
        width: 350px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .sobreMi{
        flex-direction: column;
        align-items: center;
    }
    .fotoMia{
        width: 300px;
        height: 450px;
    }
}

@media only screen and (min-width: 1600px){
    #tamanio{
        width: 1120px;
    }
}










/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #3c77b9 #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 17px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3c77b9;
    border-radius: 33px;
    border: 26px outset #ffffff00;
  }
