.compras{
    width: 120%;
    height: 1600px;
}
.datos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    h2{
        font-size: 25px;
    }
    input{
        width: 500px;
        height: 40px;
        margin-bottom: 30px;
    }
}

.dibujosCantidad{
    width:300px;
    display: flex;
    flex-direction: column;
    h3{
        text-align: left;
    }
}

.sumaResta{
    width: 32px !important;
    height: 32px !important;
}