/* .formu{
    color: $color-principal;
}

.header_contacto{


    .desktop{
        
        .menudesktop{
            display: flex;
    
            li{
                color: red;
            }

            &_algo{

            }
        }
    }
} */