.contacto__directo{
    font-family: $fuente;
    padding-top: 20px;
}

.tabla__div{
    display: flex;
    justify-content: center;
}

.table{
    border: 2px solid rgb(0, 0, 0);
    width:300px;
    font-family: $fuente;
}

.input-group{
    width: 300px;
}

.info{
    @include flexbox(column, flex-start, center);
}
