footer{
    grid-area: pie;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.footer__lista{
    background-color: $color-principal;
    width: 100%;
    text-align: right;
    list-style: none;
    margin-bottom: 0px;

}
 
.footer__imagen{
    display: inline;
    padding-right: 20px;

    &__size{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 50px;
    }
}


.footer__texto{
    position: absolute;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    padding-top: 2%;
    padding-left: 2%;
}