* {
    scrollbar-width: auto;
    scrollbar-color: #3c77b9 #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 17px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3c77b9;
    border-radius: 33px;
    border: 26px outset #ffffff00;
  }
